<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" type="text/css"/>
<link href="vpmanifest.json" rel="manifest">
<link href="vp.png" rel="icon">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
<script src="https://apis.google.com/js/api.js"></script>
<script src="https://apis.google.com/js/platform.js"></script>

<style>
body {
	font-family: Arial;
	margin: 0;
	min-width: 600px;
	min-height: 400px;
}
#planner {
	height: 100vh;
	display: flex;
	flex-direction: column;
}
#banner {
	padding: 0.3em 1em;
	box-sizing: border-box;
	position: relative;
	font-family: Roboto;
	background-color: gainsboro;
}
#banner #bantxt {
	font-weight: 800;
	font-size: 0.9em;
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
#banner #tools div {
	font-size: 0.7em;
	text-align: right;
}
#banner #tools img {
	display: inline;
	margin-top: 0.3em;
}
#banner .toolbtn {
	opacity: 0.5;
}
#banner .toolbtn.left {
	float: left;
	margin-right: 1em;
}
#banner .toolbtn.right {
	float: right;
	margin-left: 1em;
}
#banner .toolbtn:hover {
	opacity: 1;
}
#banner .toolbtn.checked {
	opacity: 1;
}
#grid {
	flex-grow: 1;
	overflow: hidden;
	border: none;
	outline: none;
}
#settings {
	margin: 3em 2em 6em 5em;
}
#settings .subsection {
	margin-left: 2em;
}
#settings input[type=number] {
	width: 4em;
}
#settings .monthnames {
	width: 30em;
}
#settings #savebtns {
	min-height: 2em;
	margin: 3em 0;
}
@media only print {
	#banner {display: none;}
	#calendarbar {display: none;}
}
</style>
</head>

<body ng-app="vpApp" ng-controller="vpController as vp" ng-cloak>
<title ng-bind="vpconfig.title">Loading...</title>

<div id="planner" ng-show="vp.show.planner">
	<div id="banner">
		<div id="bantxt">{{vpconfig.title}}</div>
		<div id="tools">
			<div>{{vpaccount.status.msg}}</div>
			<img class="toolbtn left" src="column.png" title="Column" draggable="false" ng-click="vpgrid.onclickColumn()" ng-class="vpgrid.view.column"/>
			<img class="toolbtn left" src="list.png" title="List" draggable="false" ng-click="vpgrid.onclickList()" ng-class="vpgrid.view.list"/>
			<img class="toolbtn left" src="expand.png" title="Expand" draggable="false" ng-click="vpgrid.onclickExpand()" ng-class="vpgrid.view.expand"/>
			<img class="toolbtn right" src="settings.png" title="Settings" draggable="false" ng-click="vp.onclickSettings()"/>
			<img class="toolbtn right" src="print.png" title="Print" draggable="false" ng-click="vpgrid.onclickPrint()"/>
			<img class="toolbtn right" src="continue.png" title="Continue (Ctrl+Enter)" draggable="false" ng-click="vpgrid.onclickContinue()"/>
			<img class="toolbtn right" src="sync.png" title="Sync" draggable="false" ng-click="vpgrid.onclickSync($event)"/>
		</div>
	</div>
	<div id="grid" tabIndex="1"><vp-grid></vp-grid></div>
</div>

<div id="settings" ng-show="vp.show.settings">
	<h4>Account</h4>
	<div class="subsection">
		<p>{{vpaccount.status.msg}}</p>
		<p ng-show="vp.g_signbtn_ok"><div id="g_signbtn" class="g-signin2" data-width="300" data-height="60" data-longtitle="true"></div></p>
		<p ng-show="vpaccount.status.signed_in"><a href="https://myaccount.google.com/permissions" target="_blank">Permissions</a></p>
		<p ng-show="vpaccount.status.signed_in"><a href="https://drive.google.com/drive/my-drive" target="_blank">Manage Application Data</a>  (Drive > Settings > Manage Apps)</p>
		<p ng-hide="vpaccount.status.signed_in || vp.g_signbtn_ok"><button ng-click="vpaccount.SignIn();">Sign In</button></p>
		<p ng-show="vpaccount.status.signed_in"><button ng-click="vpaccount.SignOut();">Sign Out</button></p>
	</div>
	<form name="vp.form" novalidate>
	<h4>View</h4>
	<div class="subsection">
		<p><input ng-model="vpconfig.title">
			Planner title.
		</p>
		<p><select ng-model="vpconfig.month_count" ng-options="x for (x, y) in vp.month_count_options"></select>
			Number of months to display.  More can be scrolled into view using the mouse wheel or cursor keys.
		</p>
		<p><select ng-model="vpconfig.scroll_buffer" ng-options="x for (x, y) in vp.scroll_buffer_options"></select>
			Scroll buffer.
		</p>
		<p><input ng-model="vpconfig.auto_scroll" type="checkbox">
			Auto-scroll to current month.  If not selected, the view will always start at the beginning of the year.
		</p>
		<div class="subsection">
			<p><input ng-model="vpconfig.auto_scroll_offset" type="number" min="-12" max="12">
				Auto-scroll offset.  For example, -2 will cause the date range to start from two months ago, 0 will start with the current month.
			</p>
			<p><input ng-model="vpconfig.first_month" type="number" min="1" max="12">
				First month of year.
			</p>
		</div>
		<p><input ng-model="vpconfig.hide_scrollbars" type="checkbox">
			Hide scrollbars.
		</p>
		<p><input ng-model="vpconfig.same_row_height" type="checkbox">
			Make all rows the same height.
		</p>
		<p><input ng-model="vpconfig.align_weekends" type="checkbox">
			Align weekends.
		</p>
		<p><input ng-model="vpconfig.weekends">
			Weekends.  (0=Sun, 1=Mon, 2=Tue, 3=Wed, 4=Thu, 5=Fri, 6=Sat)
		</p>
		<p><input ng-model="vpconfig.first_day_of_week" type="number" min="0" max="6">
			First day of week.  (0-6)
		</p>
		<p><input ng-model="vpconfig.font_scale_pc" type="number" min="50" max="200">
			% Font scale.
		</p>
		<p><input ng-model="vpconfig.past_opacity" type="number" min="0" max="1">
			Opacity of past months.  (1 = opaque)
		</p>
		<p><input class="monthnames" ng-model="vpconfig.month_names">
			Month names.
		</p>
	</div>
	<h4>Events</h4>
	<div class="subsection">
		<div ng-hide="true">
		<p><input ng-model="vpconfig.proportional_events" type="checkbox">
			Display event markers in proportion to their actual duration.  Events outside the visible event range will not be shown.
		</p>
		<div class="subsection">
			<p><input ng-model="vpconfig.proportional_start_hour" type="number" min="0" max="24">
				Start hour of visible event range.
			</p>
			<p><input ng-model="vpconfig.proportional_end_hour" type="number" min="0" max="24">
				End hour of visible event range.
			</p>
		</div>
		</div>
		<p><input ng-model="vpconfig.show_timed_events" type="checkbox">
			Show 'timed' events.
		</p>
		<p><input ng-model="vpconfig.show_all_day_events" type="checkbox">
			Show 'all day' events.
		</p>
		<div class="subsection">
			<p><input ng-model="vpconfig.single_day_as_multi_day" type="checkbox">
				Single day as multi-day (vertical bar).
			</p>
		</div>
		<p><input ng-model="vpconfig.text_on_singleday_events" type="checkbox">
			Show text on single-day events.
		</p>
		<p><input ng-model="vpconfig.text_on_multiday_events" type="checkbox">
			Show text on multi-day events.
		</p>
		<p><input ng-model="vpconfig.scale_of_multiday_events" type="number">
			% Scale of multi-day events.
		</p>
		<p><select ng-model="vpconfig.event_background"  ng-options="x for (x, y) in vp.event_background_options"></select>
			Event background.
		</p>
	</div>
	<div id="savebtns">
		<button ng-hide="vp.busy" ng-click="vp.onclickCancel()">Cancel</button>
		<button ng-hide="vp.form.$pristine || vp.busy" ng-click="vp.onclickSave()">Save</button>
		<div ng-show="vp.busy"><i>Saving...</i></div>
	</div>
	</form>
		<p><a href="https://visual-planner.github.io" target="_blank">visual-planner home</a></p>
		<p><a href="https://groups.google.com/group/visual-planner-discuss" target="_blank">visual-planner discussion group</a></p>
</div>

<script src="vplib.js" type='text/javascript'></script>

<script type='text/javascript'>
angular.module("vpApp").controller("vpController", function(vpAccount, vpSettings, vpEvents, $scope, $timeout) {
	$scope.vpaccount = vpAccount;
	$scope.vpconfig = vpSettings.getConfig();
	this.show = {planner: true};
	this.busy = false;
	this.month_count_options = {"3": 3, "4": 4, "6": 6, "8": 8, "10": 10, "12": 12};
	this.scroll_buffer_options = {"No scrolling": 0, " 3": 3, " 6": 6, " 12": 12};
	this.event_background_options = {"Calendar": "cal", "Event": "evt", "White": "white", "Transparent": ""};
	var gsignbtn = document.getElementById("g_signbtn");

	this.onclickSettings = function() {
		this.g_signbtn_ok = gsignbtn.hasChildNodes();
		this.form.$setPristine(true);
		this.show = {settings: true};
	}

	this.onclickCancel = function() {
		vpSettings.revert();
		this.show = {planner: true};
	}

	this.onclickSave = function() {
		this.busy = true;
		if (vpAccount.status.signed_in)
			vpSettings.save();
		$timeout(function() {
			this.busy = false;
			this.show = {planner: true};
			vpEvents.reset();
			$scope.vpgrid.init();
		}.bind(this), 2000)
	}

	$scope.$on("account:signin", function() {
		$scope.$apply(function() {
			vpSettings.load();
		});
	});

	$scope.$on("account:signout", function() {
		$scope.$apply(function() {
			vpSettings.reset();
			vpEvents.reset();
			$scope.vpgrid.init();
			$scope.vp.show = {planner: true};
		});
	});

	$scope.$on("settings:load", function() {
		$scope.$apply(function() {
			$scope.vp.show = {planner: true};
			$scope.vpgrid.init();
		});
	});

	vpAccount.connect();
});
</script>

</body>
</html>
